{% extends "base.html" %}

{% block title %}
    Cesta
{% endblock%}

{% block header %}
    {{ title }}
{% endblock %}

{% block content %}
    {% if session['usuario'] %}
        <div class="contentCornerTR">
            <form action="/cesta" method="post">
                <input name="TermComp" type="submit" value="Terminar compra">
            </form>
        </div>
        <br>
        {% if msg %}<b>ERR: {{ msg }}</b>{% endif %}<br>
        <br>
            Valor de la cesta: {{ precioCesta }}<br>
            <br>
            Peliculas:<br>
            <br>
            <ul>
            {% for movie in cart %}
                <div class="divPosterYTexto">
                    <div id="divPeliculaInfo">
                        <b><a href="{{ url_for('showMovie', movieId=movie.id) }}">{{ movie.title }}</a></b>
                        ({{ movie.description }})<br>
                        Cantidad: {{ movie.quantity }}, Precio por unidad: {{ movie.price }}<br>
                        {% if movie.ERR %}<b>{{ movie.ERR }}</b>{% endif %}
                        <form action="/cesta" method="post">
                            <input name="newCuantity" type="text" style="width:120px" placeholder="Enter new cuantity">
                            <input name="prodId" value={{movie.prod_id}} type="hidden">
                            <input type="submit" value="ChangeCuantity">
                            <br>
                        </form>
                        <form action="/cesta" method="post">
                            <input name="newCuantity" type="hidden" value=0>
                            <input name="prodId" value={{movie.prod_id}} type="hidden">
                            <input type="submit" value="Remove from cart">
                        </form>
                    </div>
                </div>
                <br>
            {% endfor %}
            </ul>
    {% endif%}
{% endblock %}
