{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock%}

{% block header %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="contentCornerTR"">
        {% if not session['usuario'] %}
            <b>you can't finish the purchase<br>
            if you have not registered</b>
        {% else %}
            <form action="" method="post">
                <input name="TermComp" type="submit" value="Terminar compra">
            </form>
        {% endif%}
    </div>
    <br>
    {% if mensaje %}
        {{ mensaje }}<br>
    {% else %}
        <br>
    {% endif %}
    <br>
    {% if cart %}
        Valor de la cesta: {{ precioCesta }}<br>
        Peliculas:<br>
        <br>
        <ul>
        {% for movie in cart %}
            <div class="divPosterYTexto">
                <div class = "divPosterPequenio">
                    <img class="posterPequenio" src="{{ url_for('static', filename=movie.id) }}" alt="Poster {{ movie.title }}">
                </div>
                <div id="divPeliculaInfo">
                    <b><a href="{{ url_for('showMovie', movieId=movie.id) }}">{{ movie.title }}</a></b><br>
                    Cantidad: {{ movie.quantity }}, Precio por unidad: {{ movie.price }}<br>
                    
                    <form action="" method="post">
                        <input name="newCuantity" type="text" style="text-align:center;width:130px" placeholder="Enter new cuantity">
                        <input name="movieId" value={{movie.id}} type="hidden">
                        <input type="submit" value="ChangeCuantity">
                        <br>
                    </form>
                    <form action="" method="post">
                        <input name="newCuantity" value=0 type="hidden">
                        <input name="movieId" value={{movie.id}} type="hidden">
                        <input type="submit" value="Remove from cart">
                    </form>
                </div>
            </div>
            <br>
        {% endfor %}
    {% else %}
        Cesta vacia
    {% endif %}
    </ul>
{% endblock %}
