{% extends "base.html" %}

{% block title %}
    {% if movie.title %}
        {{ movie.title }}
    {% else %}
        NOT FOUND
    {% endif %}
{% endblock%}

{% block header %}
    {% if movie.title %}
        {{ movie.title }}
    {% else %}
        <b>NOT FOUND</b>
    {% endif %}
{% endblock %}

{% block content %}
    {% if movie.title %}
            <b>Directors:</b> {{ movie.directors.director }}<br>
            <b>Fecha:</b> {{ movie.date }}<br>
            <b>Categoria:</b> {% for g in movie.genres %} {{ g.genre }}, {% endfor %}<br>
            <b>Idioma:</b> {% for l in movie.languages %} {{ l.language }}, {% endfor %}<br>
            <b>Pais/es:</b> {% for c in movie.countries %} {{ c.country }}, {% endfor %}<br>
            <br>
            <b>Actores:</b>
            <div class="divActores">
                <ul>
                    {% for actor in movie.actors %}
                        <div class="divFloat">
                            <li>
                                <b>{{ actor.name }}</b> ({{ actor.gender }})<br>
                                <u>Personaje:</u> {{ actor.character }}<br>
                                <u>Credit position:</u> {{ actor.cp }}
                            </li>
                        </div>
                    {% endfor %}
                </ul>
            </div>
            <br>
            <b>Productos:</b>
            <div class="divProductos">
                <ul>
                    {% for prod in movie.products %}
                        <div class="divFloat">
                            <li>
                                <b>Descripcion:</b> {{ prod.description }}<br>
                                Stock: {{ prod.stock }}<br>
                                Vendidos: {{ prod.sales }}<br>
                                Precio: {{ prod.price }}<br>
                                <form action="/showMovie/{{ movie.id }}" method="post">
                                    <input name="cuantity" type="text" value="1" style="width:40px;text-align:center;" placeholder="Cuantity">
                                    <input name="product" type="hidden" value="{{ prod.id }}">
                                    <input type="submit" value="AddToCart" style="width:110px;text-align:center;">
                                </form>
                            </li>
                        </div>
                    {% endfor %}
                </ul>
            </div>
    {% else %}
        <strong>Pelicula con id '{{ id }}' no encontrada</strong>
    {% endif %}
{% endblock %}
