{% extends "base.html" %}

{% block title %}
    {% if movie %}
        {{ movie.title }}
    {% else %}
        NOT FOUND
    {% endif %}
{% endblock%}

{% block header %}
    {% if movie %}
        {{ movie.title }}
    {% else %}
        <strong>Pelicula con id '{{ id }}' no encontrada</strong>
    {% endif %}
{% endblock %}

{% block content %}
    {% if movie %}
            <div class="contentCornerTR">
                <form action="" method="post">
                    <input name="cuantity" type="text" style="width:150px;text-align:center;" placeholder="Cuantity"><br>
                    <input type="submit" value="AddToCart" style="width:168px;text-align:center;">
                </form>
            </div>
            
            <b>Director:</b> {{ movie.director }}<br>
            <b>Categoria:</b> {{ movie.genre }}<br>
            <b>Idioma:</b> {{ movie.language }}<br>
            <b>Fecha:</b> {{ movie.date }}<br>
            <br>
            <b>Precio:</b> {{ movie.price }}
    {% endif %}
{% endblock %}
