{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock%}

{% block header %}
    {{ title }}
{% endblock %}

{% block content %}
    {% if cabecera %}
        {{ cabecera }}
        <br>
    {% else %}
        <form action="" method="post">
            <input name="movieName" type="text" placeholder="Enter movie's name">
            <select name="movieCategory">
                    <option value="NONE">-------</option> 
                {% for cat in categories %}
                    <option value="{{ cat.genre }}">{{ cat.genre }}</option> 
                {% endfor %}
            </select>
            <input type="submit" value="SearchMovie">
        </form>
    {% endif %}
    <br>
    {% for movie in movies %}
        <div class="divPosterYTexto">
            <div class = "divPosterPequenio">
                <img class="posterPequenio" src="{{ url_for('static', filename=item.poster) }}" alt="Poster {{ item.titulo }}">
            </div>
            <div class="divPeliculaInfo">
                <a href="{{ url_for('showMovie', movieId=movie.id)}}">{{ movie.movietitle }}</a></li>
            </div>
        </div>
        <br>
    {% endfor %}
{% endblock %}
