{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock%}

{% block header %}
    {{ title }}
{% endblock %}

{% block content %}
    <br>
    <form action="/index" method="post">
        <input name="movieName" type="text" style="width:200px;" placeholder="Enter movie's name">
        <input type="submit" value="Search"><br>
        <select name="movieCategory">
                <option value="NONE">All Categories</option> 
            {% for cat in categories %}
                <option value="{{ cat.genre }}">{{ cat.genre }}</option> 
            {% endfor %}
        </select>
        <input name="numMovies" value="{{ aux.lim }}" type="hidden">
    </form><br>
    <hr>
    <br>
    {% if cabecera %}
        <b>{{ cabecera }}</b><br><br>
    {% endif %}
    <form action="/index" method="post">
        Showing {{ aux.lim }} results | 
        <input name="numMovies" type="text" style="width:65px;" placeholder="20 dafault">
        <input type="submit" value="Change">
        {% if aux.lastName %}
            <input name="movieName" value="{{ aux.lastName }}" type="hidden">
        {% endif %}
        {% if aux.lastGen %}
            <input name="movieCategory" value="{{ aux.lastGen }}" type="hidden">
        {% endif %}
    </form>
    <br>
    {% if movies %}
        <ul>
        {% for movie in movies %}
            <li>
                <div class="divResultadoBusqueda">
                    <a href="{{ url_for('showMovie', movieId=movie.id)}}">{{ movie.title }}</a>
                </div>
            </li>
            <br>
        {% endfor %}
        </ul>
    {% else %}
        <strong>NO SE ENCONTRARON PELICULAS</strong>
    {% endif %}
{% endblock %}
