{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock%}

{% block header %}
    {{ title }}
{% endblock %}

{% block content %}
    {% if cabecera %}
        {{ cabecera }}
        <br>
    {% else %}
        <form action="" method="post">
            <input name="movieName" type="text" placeholder="Enter movie's name">
            <select name="movieCategory">
                    <option value="NONE">-------</option> 
                {% for cat in categories %}
                    <option value="{{ cat.genre }}">{{ cat.genre }}</option> 
                {% endfor %}
            </select>
            <input type="submit" value="SearchMovie">
        </form>
    {% endif %}
    <br>
    {% if movies %}
        {% for movie in movies %}
            <li>
                <div class="divPosterYTexto">
                    <div class = "divPosterPequenio">
                        <img class="posterPequenio" src="{{ url_for('static', filename=movie.id) }}" alt="Poster {{ movie.id }}">
                    </div>
                    <div class="divPeliculaInfo">
                        <a href="{{ url_for('showMovie', movieId=movie.id)}}">{{ movie.title }}</a>
                    </div>
                </div>
            </li>
            <br>
        {% endfor %}
    {% else %}
        <strong>NO SE ENCONTRARON PELICULAS</strong>
    {% endif %}
{% endblock %}
