{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock%}

{% block header %}
    <h1>Sign Up</h1>
{% endblock %}

{% block content %}
    <h1>Sign Up</h1>
    <form action="/register" method="post" novalidate>
        <label><b>Username</b></label>
        <input name="username" type="text" placeholder="Enter username"><br>
        {% if msg %}{{ msg.username }}{% endif %}<br>
        <br>
        <label><b>Contraseña</b></label>
        <input name="password" type="password" placeholder="Enter password"><br>
        {% if msg %}{{ msg.password }}{% endif %}<br>
        <label><b>Confirma ontraseña</b></label>
        <input name="password2" type="password" placeholder="Enter password again"><br>
        {% if msg %}{{ msg.password2 }}{% endif %}<br>
        <br>
        <label><b>Name</b></label>
        <input name="firstname" type="text" placeholder="firstname">
        <input name="lastname" type="text" placeholder="lastname"><br>
        <br>
        <label><b>Email</b></label>
        <input name="email" type="text" placeholder="Enter email"><br>
        {% if msg %}{{ msg.email }}{% endif %}<br>
        <br>
        <label><b>Tarjeta de Credito</b></label>
        <input name="creditCard" type="text" placeholder="Enter tarjeta de credito"><br>
        <br>
        <input type="submit" value="Register"><br>
        <br>
        {% if mensaje %}{{ mensaje }}{% endif %}
    </form>
{% endblock%}
